@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
    color: #cfd8dc;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: #eceff1;
}

.name {
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.bbody {
    font-family: 'Exo', sans-serif;
    color: #90a4ae;
    padding-bottom: 1rem;
}

h3 {
    padding-bottom: 1rem;
    color: goldenrod;
}

h4 {
    font-family: 'Exo', sans-serif;
    color: goldenrod;
}

ul {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
}

a {
    color: goldenrod;
    text-decoration: none;
}

a:hover {
    color: gold;
}

table, th, td {
  padding: 10px;
}

.context {
    width: 100%;
    position: absolute;
    top:20vh;
}

.container {
    width: 65%;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flexstart;
    justify-content: center;
}

.section {
    overflow: auto;
}


.contact {
    width: 400px;
    height: 520px;
    background-color: goldenrod;
    box-sizing: border-box;
    z-index: 10;
    box-shadow: 1px 0px 7px #111; 
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: flexstart;
}

.banner {
    height: 40%;
}

.banner img {
    size: contain;
}

.contact-sec {
    text-align: center;
    padding: 2rem;
    border-top: 2px solid #222;
    background: linear-gradient(top, #333  0%, #343e4a 2%);
    background: -ms-linear-gradient(top, #333  0%, #343e4a 2%);
    background: -moz-linear-gradient(top, #333  0%, #343e4a 2%);
    background: -webkit-linear-gradient(top, #222  0%, #343e4a 3%);
}

.about {
    width: 600px;
    height: 500px;
    align-self: center;
    background-color: #343e4a;
    box-sizing: border-box;
    padding: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    box-shadow: 0px 0px 5px #111;
    z-index: 9;
}

.area{
    background: #262834;  
    width: 100%;
    height: 100vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}


@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
