<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
<div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
    </div >    
<p>test4</p>
</html>
